<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hello!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <h1>Hello!</h1>
  <div id="contact-form"> 
    <h1>Get In Touch!</h1>

    <form method="post" action="/signup"> 
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="" placeholder="Agatha Frottemly" required="required" autofocus="autofocus"/>
        <label for="email">Email address: </label>
        <input type="email" id="email" name="email" value="" placeholder="aggs@example.com" required="required"/>
        <input type="submit" value="submit" id="submit-button">
    </form>
    </div>
</body>
</html>  

