<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tweetinnnng!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
    <h1>Showing Tweets for <%=@search%></h1>
    <% @tweets.each do |tweet| %>
      <p> <%=tweet.user.screen_name%>: <%=tweet.text%></p>
    <% end %>
</body>
</html>  
